.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  background-color: aqua;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}
main {
  background-color: pink;
  flex-grow: 2;
  flex-wrap: wrap;
}
footer {
  background-color: green;
  flex-grow: 1;
}
