.Home-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  background-color: aqua;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}
main {
  background-color: pink;
  flex-grow: 2;
  flex-direction: row;
  justify-content: space-between;
}
footer {
  background-color: green;
  flex-grow: 1;
}
.left {
  width: 150px;
  height: 150px;
  background-color: burlywood;
}
.right {
  width: 150px;
  height: 150px;
  background-color: powderblue;
}
